<li id="cat{{category.id}}">
    <div>
        <span class="value">{{category.name}}</span>
        <span class="controls">
            <!--<a href="%%incomeCategory/delete%%/{{category.id}}">Delete</a>-->
            <a class="cat_del" id="del_cat_{{category.id}}" title="Delete" data-id="{{category.id}}" data-type="{{category.type}}">Delete</a>
        </span>
    </div>
</li>